<div class="repo p-3 text-center border rounded">
  <a href="https://github.com/{{ include.username }}" target="_blank" rel="noopener noreferrer">
    <img
      class="rounded-circle mb-2"
      alt="{{ include.username }}"
      src="https://github.com/{{ include.username }}.png"
      width="110"
      height="110"
    >
    <h5>@{{ include.username }}</h5>
  </a>
</div>